
.example-card {
    max-width: 400px;
  }
  
  .app-header-component {
    min-height:41px;
  }
  .contactinput-search{
    width: 96%;
    margin: 0px auto;
    background: white;
    height: 32px;
    border-radius: 8px;
  }
  .mat-input-underline.mat-form-field-underline {
    background: transparent;
 }