<div fxLayout="column" class="h100">
    <mat-toolbar color="primary" class="mat-tool-bar">
        <mat-toolbar-row  class="mat-tool-row">
            <span>WhatsApp</span>
            <span class="example-fill-remaining-space"></span>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">minimize</mat-icon>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">aspect_ratio</mat-icon>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">close</mat-icon>
          </mat-toolbar-row>
    </mat-toolbar>
    <div class="homebody">
            <app-home-page></app-home-page>
    </div>
    
</div>