<div fxLayout="column" style="min-height: 100%;">
        <mat-toolbar style="height: 10%;"> 
            <mat-toolbar-row>
                 <img [src]="imgrSrc" class="example-header-image">
                 <div fxLayout="column">
                        <span>ABC</span>
                        <span> ABC </span>
                       </div>  
            </mat-toolbar-row>
        </mat-toolbar>
        <div style="height: 80%;">
       
        </div>
        <div style="height: 10%;">
            
        </div>
        </div>